<footer class="footer mt-auto py-5">
    <div class="container d-flex justify-content-between">
      <div class="footer-boxes">
        <img class="footer-logo" src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo en blanco">
      </div>
      <div class="footer-boxes">
        <p>
            Informe Bajo Lupa es un ejercicio que se realizó por primera vez en 2017 en Jalisco, 
            para los informes de los alcaldes de Guadalajara y Zapopan, en 201X en el estado de México
             para los alcaldes de Ecatepec, XX y XX, y en 20XX para el gobernador de Jalisco.
        </p>
        <p>
            El presente ejercicio busca invitar a las personas a verificar los dichos del 
            informe presidencial de 2021.
        </p>  
      </div>
    </div>
</footer>
  