<div class="row">
    <aside class="col-2 p-3">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo" class="logo-main">
    </aside>
    <div class="col-10 body-main">
        <h1>
            Ejercicio ciudadano, abierto y apartidista para verificar el discurso del Informe Presidencial 2021
        </h1>
        <div class="main-steps row my-5">
            <card class="col rounded-corners card card-body main-steps-card color-azul">
                <h5 class="card-title">1</h5>
                    <p class="card-text">Se selecciona una lista de dichos del discurso del Informe Presidencial 2021</p>
                </card>
                <card class="col rounded-corners card card-body main-steps-card color-rojo">
                    <h5 class="card-title">2</h5>
                    <p class="card-text">Personas voluntarias verifican con datos cada uno de los dichos</p>
                </card>
                <card class="col rounded-corners card card-body main-steps-card color-naranja">
                    <h5 class="card-title">3</h5>
                    <p class="card-text">Se califica cada dicho en una escala según los resultados encontrados</p>
                </card>
                <card class="col rounded-corners card card-body main-steps-card color-amarillo">
                    <h5 class="card-title">4</h5>
                    <p class="card-text">Se publican los resultados del ejercicio en este sitio web</p>
                </card>
            </div>
        </div>
    </div>